.contentCard {
  padding: 2em;
  aspect-ratio: 1 / 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.cardTitle {
  font-size: 50px;
  color: white;
}

.cardEllipseButton {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.popupMenu {
  position: absolute;
  right: 32px;
  /* 32px margin from the edge of the card plus 12px to get to the middle of 
   * the ellipses plus 32px margin from the ellipses */
  top: 76px;
  background: red;
  display: grid;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  background: gray;
  visibility: hidden;
}

.popupMenu button {
  
}

.popupShow {
  visibility: visible;
}
