.cardTitle {
  font-size: 50px;
}

.cardEllipseButton {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  background: transparent;
  border-color: transparent;
  border-radius: 10px;
  color: var(--text-color);
}

.cardEllipseButton:hover {
  background: var(--element-2-color);
}

.popupMenu {
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  background: var(--element-2-color);
  position: absolute;
  position-area: bottom span-left;
}

.popupMenu:popover-open {
  display: grid;
}

.popupMenu button {
  text-align: left;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 10px;
  font-family: inherit;
}

.popupMenu button:hover {
  background-color: var(--element-3-color);
}
