#root {
  /* max-width: 1080px; */
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 15vw;
  width: 85vw;
}

#fileTree {
  position: fixed;
  /* top: 0px;
  left: 0px; */
  height: 100vh;
  background: gray;
  width: 15vw;
  z-index: 1;
}

.fileTreeLeaf {
  text-align: left;
  font-size: 20px;
}