@layer global {
  body {
    margin: 0;
  }

  :root, :root[data-theme="dark"] {
    --text-color: white;
    --bg-color: #242424;
    --element-1-color: #353535;
    --sidebar-color: dimgray;
  }

  :root[data-theme="light"] {
    --text-color: black;
    --bg-color: white;
    --element-1-color: #D4D4D4;
    --sidebar-color: #B0B0B0;
  }

  :root {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: Segoe UI, Helvetica, sans-serif;
  }

  .card {
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    background: var(--element-1-color);
  }

  .contentCard {
    padding: 2em;
    aspect-ratio: 1 / 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
}
